[role="dialog"] {
  display: none;
}

[role="dialog"] {
  width: 400px;
  height: 200px;
  position: absolute;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
}

[role="dialog"] h2 {
  background: #bbb;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
  color: #eee;
}

[role="dialog"] p {
  margin: 0;
  padding: 10px;
  font-size: 12px;
  color: #333;
}

[role="dialog"] .apache-chief-resize {
  background: url(jquery-ui-icons.png) -64px -224px !important;
  width: 16px !important;
  height: 16px !important;
}